{% extends 'base_superadmin.html' %}

{% block title %}Tambah Region (Superadmin){% endblock %}

{% block content %}
<h1>Tambah Region (Superadmin)</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="POST">
    <label for="name">Nama Region:</label>
    <input type="text" name="name" required>
    <button type="submit">Tambah</button>
</form>
<a href="{{ url_for('add_sadmin_region.add_region_controller') }}">Lihat Daftar Region</a>
{% endblock %}