<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting_region.css') }}">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <title>{% block title %}FaceRec{% endblock %}</title>
    {% block additional_css %}{% endblock %}
</head>
<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <img src="{{ url_for('static', filename='img/sni.png') }}" alt="img" />
            <span> PT. SNI</span>
        </a>
        <ul class="side-menu">
            <li>
                {% block dashboard %}
                <a href="/" class="active"><i class="bx bxs-dashboard icon"></i> Dashboard</a>
                {% endblock %}
            </li>
            <li class="divider" data-text="main">Data & Kehadiran</li>
            <!--<li>
                {% block Kehadiran %}
                <a href="/attendance"><i class="bx bxs-user-check icon"></i> Attendance ></a>
                {% endblock %}
            </li>-->
            <li>
                {% block upload %}
                <a href="/upload_admin"><i class="bx bxs-user-plus icon"></i> Add Employee Data</a>
                {% endblock %}
            </li>
            <li>
                {% block tampil_data %}
                <a href="/tampil_data_admin"><i class="bx bxs-spreadsheet icon"></i> Data Employee</a>
                {% endblock %}
            </li>
            <li>
                {% block attendance_table %}
                <a href="/table_admin"><i class="bx bxs-spreadsheet icon"></i> Attendance Table</a>
                {% endblock %}
            </li>
            <li>
                {% block report_table %}
                <a href="/report_admin"><i class="bx bxs-spreadsheet icon"></i> Report</a>
                {% endblock %}
            </li>
            <li>
                {% block add_region %}
                <a href="/add_region"><i class="bx bxs-spreadsheet icon"></i> Add Region</a>
                {% endblock %}
            </li>
            <li>
                {% block regions %}
                <a href="/regions"><i class="bx bxs-spreadsheet icon"></i> Data Region</a>
                {% endblock %}
            </li>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <nav>
            <i class="bx bx-menu toggle-sidebar icon"></i>
            <form action="#"></form>

            <div class="profile">
                <img src="{{ url_for('static', filename='img/download.jpeg') }}" />
                <ul class="profile-link">
                    <li>
                        <a href="/logout">{% block logout %}{% endblock %}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- MAIN -->
        {% block content %}{% endblock %}
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block java %}{% endblock %}
</body>
</html>