{% extends 'base_superadmin.html' %}

{% block title %}
Tampil Data
{% endblock %}

{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/table_superadmin.css') }}" />
{% endblock %}

{% block sidebar %}
<a href="/tampil_data_superadmin" class="active">
  <i class="bx bxs-spreadsheet icon"></i> Data Employee
</a>
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="headline">Data Karyawan</h2>

  <!-- Form Pencarian -->
  <form method="GET" action="{{ url_for('tampil_data_sadmin.tampil_data_superadmin_view') }}" class="search-form">
    <input type="text" name="query" placeholder="Cari berdasarkan nama karyawan" value="{{ request.args.get('query', '') }}" />
    <button type="submit">Cari</button>
  </form>

  <div class="table-responsive">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">No</div>
        <div class="col col-2">ID Karyawan</div>
        <div class="col col-3">Nama Karyawan</div>
        <div class="col col-4">Region</div>
        <div class="col col-5">Status</div>
        <div class="col col-6">Tgl Create</div>
        <div class="col col-7">Create by</div>
        <div class="col col-8">Aksi</div>
      </li>
      {% for row in data_list %}
      <li class="table-row">
          <div class="col col-1" data-label="No">{{ loop.index }}</div>
          <div class="col col-2" data-label="ID Karyawan">{{ row[0] }}</div>
          <div class="col col-3" data-label="Nama Karyawan">{{ row[1] }}</div>
          <div class="col col-4" data-label="Region">{{ row[11] if row|length > 2 else 'Belum Ditetapkan' }}</div>
          <div class="col col-5" data-label="Status">{{ row[4] }}</div>
          <div class="col col-6" data-label="Tgl Create">{{ row[5] }}</div>
          <div class="col col-7" data-label="Create by">{{ row[6] }}</div>
          <div class="col col-8" data-label="Aksi">
            <a href="{{ url_for('update_employee_sadmin.update_employee_superadmin_view', id_karyawan=row[0]) }}" class="btn btn-warning btn-sm">Edit</a>
            <form action="{{ url_for('hapus_karyawan', id_karyawan=row[0]) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm ml-2">Hapus</button>
            </form>
          </div>
      </li>
      {% endfor %}
    </ul>
    {% if data_list|length == 0 %}
    <p>Tidak ada data yang ditemukan.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
