{% extends 'base_admin.html' %}

{% block title %}
Tampil Data
{% endblock %}

{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/table_admin.css') }}" />
{% endblock %}

{% block sidebar %}
<a href="/tampil_data_admin" class="active">
  <i class="bx bxs-spreadsheet icon"></i> Data Employee
</a>
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="headline">Data Karyawan</h2>

  <!-- Form pencarian -->
  <form method="GET" action="{{ url_for('tampil_data_adm.tampil_data_admin_view') }}">
    <input type="text" name="search" placeholder="Cari karyawan..." value="{{ request.args.get('search', '') }}">
    <button type="submit">Cari</button>
  </form>

  <div class="table-responsive">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">No</div>
        <div class="col col-2">ID Karyawan</div>
        <div class="col col-3">Nama Karyawan</div>
        <div class="col col-4">Region</div>
        <div class="col col-6">Aksi</div>
      </li>
      {% for row in data_list %}
      <li class="table-row">
        <div class="col col-1" data-label="No">{{ loop.index }}</div>
        <div class="col col-2" data-label="ID Karyawan">{{ row[0] }}</div>
        <div class="col col-3" data-label="Nama Karyawan">{{ row[1] }}</div>
        <div class="col col-4" data-label="Region">{{ row[11] }}</div>
        <div class="col col-6" data-label="Aksi">
          <a href="{{ url_for('update_employee_admin', id_karyawan=row[0]) }}">Edit</a>
          <form action="{{ url_for('hps_karyawan_admin.hapus_karyawan_view', id_karyawan=row[0]) }}" method="POST" style="display:inline;">
            <button type="submit">Hapus</button>
        </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
